@font-face {
  font-family: 'Augusta';
  src: url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.eot');
  src: url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.woff2') format('woff2'),
  url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.woff') format('woff'),
  url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.ttf') format('truetype'),
  url('https://r3f-game-smoky.vercel.app/fonts/Augusta-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.eot');
  src: url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.woff2') format('woff2'),
  url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.woff') format('woff'),
  url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.ttf') format('truetype'),
  url('https://r3f-game-smoky.vercel.app/fonts/Anton-Regular.svg#Anton-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

