.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2B5BE;
  color: #5F3438;
  font-size: 3rem;
}

/*.loader {*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  display: inline-block;*/
/*  position: relative;*/
/*}*/

/*.loader::after,*/
/*.loader::before {*/
/*  content: '';*/
/*  box-sizing: border-box;*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  border-radius: 50%;*/
/*  border: 2px solid #FFF;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  animation: animloader 2s linear infinite;*/
/*}*/

/*.loader::after {*/
/*  animation-delay: 1s;*/
/*}*/

/*@keyframes animloader {*/
/*  0% {*/
/*    transform: scale(0);*/
/*    opacity: 1;*/
/*  }*/
/*  100% {*/
/*    transform: scale(1);*/
/*    opacity: 0;*/
/*  }*/
/*}*/
