@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('./css/loader.css');
@import url('./css/guide.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background: ivory;
}

/*Interface*/
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

/*Top part*/
.interface .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #0000007a;
  padding: 10px;
}

.interface .top-part .time {
  display: flex;
  gap: 20px;
}

.interface .restart-btn {
  pointer-events: auto;
  cursor: pointer;
}

/*Results*/
.result {
  font-size: 3rem;
  text-align: center;
  color: white;
  background-color: #0000007a;
  padding: 5px;
}

/*Controls*/
.controls {
  padding: 0 5px 35px 5px;
}

.controls .wrapper {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #82828244;
}

.controls .key.space {
  width: 144px;
}

.controls .key.active {
  background: #0000007a;
}

/*.controls .joystick {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: #0000007a;
}

.controls .joystick .controller {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #82828244;
  border: 2px solid white;
  pointer-events: auto;
}*/


@media screen and (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }

  .controls .key {
    pointer-events: auto;
    cursor: pointer;
  }

  .controls .wasd {
    display: none;
  }

  .controls .key.space {
    width: 200px;
    height: 65px;
  }
}
