@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('./css/_fonts.css');
@import url('./css/loader.css');
/*@import url('./components/Interface/StartMenu/startMenu.css');*/
@import url('./css/form.css');
@import url('./css/highscores.css');
@import url('./css/menu.css');
@import url('./css/changeUsernameForm.css');
@import url('./css/interfaceMiddlePart.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
  background: #292929;
}

/*Interface*/
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/*Top part*/
.interface .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #0000007a;
  padding: 10px;
}

.interface .top-part .left,
.interface .top-part .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-part .right .menu-btn {
  pointer-events: auto;
  cursor: pointer;
}

.highscores-btn {
  color: gold;
  pointer-events: auto;
  cursor: pointer;
}

.interface .restart-btn {
  pointer-events: auto;
  cursor: pointer;
}

/*Results*/
.result {
  font-size: 3rem;
  text-align: center;
  color: white;
  background-color: #0000007a;
  padding: 5px;
}

/*Controls*/
.controls {
  padding: 0 5px 35px 5px;
}

/** div:first-child = Joystick */
.controls > div:first-child {
  display: none !important;
}

.controls .wrapper {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #82828244;
}

.controls .key.space {
  width: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.controls .key.active {
  background: #0000007a;
}

@media screen and (max-width: 768px) {
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    pointer-events: all;
  }

  .controls .key {
    pointer-events: auto;
    cursor: pointer;
  }

  .controls .wasd {
    display: none;
  }

  .controls > div:first-child {
    display: flex !important;
  }

  .controls .key.space {
    width: 200px;
    height: 65px;
  }
}

@media screen and (max-width: 425px) {
  .interface .top-part {
    font-size: 1.2rem;
  }

  .interface .top-part .left,
  .interface .top-part .right {
    gap: 10px;
  }

  .controls .key.space {
    width: 100px;
    height: 100px;
  }
}
